<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>70155489023-a49tfa0amhi0bgukrbjng81lrj22cjg2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70155489023-a49tfa0amhi0bgukrbjng81lrj22cjg2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>70155489023-pm3itug52pg87pgtard2oj7tspjn1rev.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDj91akODt-pE8Vv4mtOLT1vZkeidb80Us</string>
	<key>GCM_SENDER_ID</key>
	<string>70155489023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.strongFingers</string>
	<key>PROJECT_ID</key>
	<string>strong-fingers</string>
	<key>STORAGE_BUCKET</key>
	<string>strong-fingers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70155489023:ios:e56d7819557bb5ded286ca</string>
</dict>
</plist>